@import '../styles/variables.scss';

.Tabs
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@include mobile
{
    .Tab
    {
        padding: 1.5rem !important;
    }
}

.Tab
{
    padding: 2.5rem;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-width 300ms linear;

    &.Active
    {
        // border-bottom: 20px solid $white;
    }
    // align-content: center;

    &.brown
    {
        @include colorize($brown, 5);
    }

    &.green
    {
        @include colorize($green, 5);
    }

    &.white
    {
        @include colorize($white, 5);
    }

    &.orange
    {
        @include colorize($orange, 5);
    }

    &.blue
    {
        @include colorize($blue, 5);
    }


    &.black
    {
        @include colorize($black, 5);
    }
}