@import "../../styles/variables.scss";

@mixin background($color, $a: 0.7) {
    background-color: $color;

    .Content
    {
        background-color: rgba($color, $a);
    }

    .Images {
        &::before {
            // background-color: rgba($color, $a);
        }
    }

    button {
        background-color: $color;
    }
}

.Project {
    height: 100%;

    h1 {
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        // border-bottom: 2px solid $white;
        padding: 3rem;
        margin: 0;
        z-index: 2;
    }

    .ContentWrapper {
        padding: 30px;
        height: 100%;
    }

    .Content {
        display: flex;
        flex-direction: column;
        height: 100%;

        backdrop-filter: blur(10px);
        padding-bottom: 40px;
        background-color: rgba($white, 0.4);

        .Technology {
            flex: 1;
            padding: 0 4rem;
            font-size: 1.5rem;
            z-index: 1;

            .description {
            }
        }

        button {
            border: none;
            outline: none;

            padding: 20px;
            color: white;
            cursor: pointer;
            // border-radius: 5px;
            font-size: 1.5rem;
        }
    }

    .Images {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;

        &::before {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            // backdrop-filter: grayscale(1);
        }
    }

    &.green {
        @include background($green, 0.5);
    }
    &.orange {
        @include background($orange, 0.5);
    }
    &.blue {
        @include background($blue, 0.5);
    }
    &.white {
        @include background($white, 0.5);
    }
    &.brown {
        @include background($brown, 0.5);
    }
    &.black {
        @include background($black, 0.5);
    }

}
