@import "../../styles/variables.scss";

@mixin background($color, $a: 0.7) {
    background-color: $color;

    .Content {
        background-color: rgba($color, $a);
    }

    .Images {
        &::before {
            // background-color: rgba($color, $a);
        }
    }

    button {
        background-color: $color;
    }
}

@include tablet {
    .Title {
        h1 {
            font-size: 2rem !important;
        }

        .Subtitle,
        .Technology {
            font-size: 1.2rem !important;
        }

        margin-bottom: 0 !important;
    }

    .Body {
        font-size: 1.2rem !important;
        .Description {
            padding-right: unset !important;
        }
    }

    .Footer {
        button {
            min-width: unset !important;
            font-size: 1rem !important;
            span {
                display: none;
            }
        }
    }
}

@include mobile_tablet {
    .Content {
        width: 100% !important;
    }
}

@include mobile {
    .Title {
        h1 {
            font-size: 1.3rem !important;
        }

        .Subtitle,
        .Technology {
            font-size: 0.9rem !important;
        }

        margin-bottom: 0 !important;
    }

    .Body {
        font-size: 0.9rem !important;
        .Description {
            padding-right: unset !important;
        }
    }

    .Footer {
        button {
            min-width: unset !important;
            font-size: 1rem !important;
            span {
                display: none;
            }
        }
    }
}

.Project {
    height: 100%;

    .ContentWrapper {
        padding: 30px;
        height: 100%;
    }

    .Content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 2.5rem;
        color: $white;

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding-bottom: 40px;
        background-color: rgba($white, 0.4);
        box-shadow: 1px 1px 10px black;
        width: 50%;

        .ProjectHeader {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        .Title {
            h1 {
                font-weight: 600;
                font-size: 2.5rem;
                margin: 0;
            }

            .Subtitle {
                font-size: 1.5rem;
                margin: 0;
                color: rgb(185, 185, 185);
            }

            .Technology {
                font-size: 1.3rem;
                color: $orange;

                .divider {
                    color: $white;
                }
            }

            margin-bottom: 30px;
        }

        .Body {
            flex: 1;
            font-size: 1.4rem;

            .Description {
                padding-right: 200px;
            }
        }

        .Footer {
            display: flex;
            justify-content: space-evenly;

            button {
                border: none;
                outline: none;
                text-transform: uppercase;
                font-family: monospace;
                background-color: $orange;
                padding: 20px;
                color: white;
                cursor: pointer;
                // border-radius: 5px;
                font-size: 1.5rem;
                min-width: 200px;
                box-shadow: 3px 3px 10px black;
                transition: 200ms;

                &:hover {
                    filter: brightness(120%);
                }
                &:active {
                    filter: brightness(90%);
                }
            }
        }
    }

    .Images {
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: repeat;

        &::before {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }

    &.green {
        @include background($green, 0.5);
    }
    &.orange {
        @include background($orange, 0.5);
    }
    &.blue {
        @include background($blue, 0.5);
    }
    &.white {
        @include background($white, 0.5);
    }
    &.brown {
        @include background($brown, 0.5);
    }
    &.black {
        @include background($black, 0.8);
    }
}
