@import "variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Consolas, monospace, Inconsolata, Montserrat, Open Sans, sans-serif;
  // font-weight: 600;
  overflow: overlay;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($white, 1);
}
