@import "./variables.scss";

.container {
    background-color: rgba($green, 0.15);
    backdrop-filter: blur(7px);
    min-width: 100vw;
}

.banner {
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex: 1;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;

    .mailLink {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        margin-right: 20px;
        transition: color 400ms;
        &:hover {
            color: $orange;
        }
    }

    .logo {
        flex-grow: 1;

        h2 {
            font-size: 1.5rem;
            padding: 5px;
            color: $orange;
            margin-left: 30px;
            transition: color 400ms;
            &:hover {
                color: $white;
            }
        }
    }
}

@include mobile {
    .main {
        flex-direction: column !important;
        .name {
            padding: 3rem !important;
        }

        .mainSection {
            min-height: calc(100vh - 92px) !important;
        }
    }

    .header {
        .mailLink {
            display: none;
        }
    }

    .carousel {
        width: 100% !important;
        .Icon {
            margin-right: unset !important;
        }
        span {
            display: none;
        }
    }
}

@include tablet {
    .main {
        flex-direction: column !important;

        .name {
            padding: 3rem 6rem !important;
        }

        .mainSection {
            min-height: calc(100vh - 92px) !important;
        }

    }

    .carousel {
        width: 100% !important;
    }
}

.main {
    color: $white;

    height: 100%;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .mainSection {
        min-height: 100vh;
    }

    section
    {
        flex: 1;
    }

    .name {
        padding: 3rem 8rem;

        h1:nth-of-type(2) {
            color: $orange;
        }

        h1 {
            font-weight: 400;
            font-size: 4rem;
            margin: 0;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            button {
                font-size: 1.4rem;
                background-color: rgba($green, 0.5);
                border: 3px solid $white;
                cursor: pointer;
                border-radius: 3px;
                color: white;
                margin-right: 20px;
                padding: 10px;
                width: 100%;
                min-width: 250px;
                flex: 1;
                transition: 200ms;

                backdrop-filter: blur(5px);

                &:hover {
                    background-color: rgba($orange, 0.9);
                }

                &:active {
                    background-color: rgba($black, 0.9);
                }
            }
        }

        .description {
            font-size: 1.3rem;

            .orange {
                color: $orange;
            }
        }
    }

    .carousel {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        box-shadow: -1px -3px 20px rgb(27, 27, 27);

        .Icon {
            margin-right: 20px;
        }

        .activeTab {
            height: 100%;
            transition: background-color 400ms;
            // overflow-y: scroll;

            &.brown {
                background-color: $brown;
            }

            &.green {
                background-color: $green;
            }

            &.white {
                background-color: $white;
            }

            &.orange {
                background-color: $orange;
            }

            &.blue {
                background-color: $blue;
            }

            &.black {
                background-color: $black;
            }
        }
    }
}
